#header{
	background-color: #102e6e;
	height: 160px;

}

#title{
	font-size: 30px;
}

#menu{
	width: 1040px;
	height: 54px;
	z-index: 10;
	position: relative;
}

#footer{
	background-color: #102e6e;
}

h1{
	font-family: Raleway;
}